# VCS
.git/
.gitignore

# IDE
.vscode

# Python
__pycache__/
**/*/__pycache__/

**/*.py[cod]

# virtual env
env/
venv/

# Docker
.gitlab-ci.yml
.dockerignore
Dockerfile
docker-compose.*.ya?ml
compose.*.ya?ml
build*.json

# dotenv
.env
.env.template
*.env

# frontend
frontend/node_modules/
frontend/dist/

# Other files
.logfire/
docs/
site/
hub/
logs/
projects/
tmp/
triton/
data/

*.tar.gz

*.log

*.swo
*.swp

/site/
/public/
