# Set the local user's uid and gid to ensure smooth experience while building and testing
HOST_UID=${HOST_UID}
HOST_GID=${HOST_GID}

# Path to push / pull image to - set it to the gitlab registry, pin version if necessary
# If set to empty, it would be set to the user running the command
REGISTRY=registry.gitlab.com/vgg/wise/wise
VERSION=

# Host path to store wise projects in, by default it would be the $PWD/projects if left unset
WISE_PROJECT_DIR=
# Host path to store wise /report data in, by default it would be the $PWD/data if left unset
WISE_REPORT_DATA_DIR=
