.vscode/
# dotenv
.env
*.env

!.env.template

# data folder
/data/
/wise-data/
/wise-projects/
/images/
/projects
/public/images
/public/thumbs
*.h5
*.npy
*.tar
*.db
/cmd
# generated output
/output/
/logs/
build*.json
/build/
/dist/

# Python
/env/
/venv/
__pycache__/

# Temp files by editors
*~
.*~

# Vim
*.swo
*.swp

# System files
.DS_Store

# huggingface
hub/
