# List of dependencies for users using pip
accelerate
alembic~=1.13.0
beautifulsoup4~=4.12.2
braceexpand~=0.1.7
fastapi[all]~=0.110.1  # [all] required for Starlette's schema generation
filetype~=1.2.0
h5py==3.11.0
httpx[http2]~=0.27.0
imageio~=2.34.0
insightface
msclap~=1.3.4
numpy==1.26.4
onnxruntime-gpu  # undeclared dependency of insightface
open_clip_torch~=2.31
pandas==2.2.2
pydantic-settings~=2.2.1
pydantic~=2.7.0
python-magic~=0.4.27
scikit-learn
sqlalchemy~=2.0.42
tqdm~=4.66.2
transformers~=4.51.3
tritonclient[all]
typer~=0.12.3
webvtt-py

## List of problematic transient dependencies

## FIXME: see https://gitlab.com/vgg/wise/wise/-/merge_requests/119
## click is a transient dependency through typer but its latest
## release is incompatible with our 'typer~=0.12.3' so we also limit
## the version requirement on click.  But the much better fix would be
## to loose our requirement on typer.
click~=8.1.0
