.wise-large-loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;

  > .anticon {
    font-size: 64px;
  }
}

.wise-loading-message {
  width: 100%;
  text-align: center;
  margin: 8px 0 0 0;

  > .anticon {
    margin-left: 5px;
    font-size: 18px;
  }
}

.ant-segmented {
  background: #f0f0f0;
}

section#search-results {
  display: block;

  .ant-pagination {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }

  /*
    Compact/justified image grid based on:
    - http://jsbin.com/tisaluy/8/edit?html,css,output
    - https://github.com/xieranmaya/blog/issues/6
  */
  > .wise-image-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &::after {
      content: '';
      flex-grow: 999999999;
    }

    > .wise-image-wrapper {
      margin: 2px;
      background-color: #eee;
      position: relative;
      cursor: pointer;
      box-sizing: border-box;
      
      > i {
        display: block;
      }

      > a {
        color: unset;

        > video.wise-video-preview {
          position: absolute;
          top: 0;
          width: 100%;
          vertical-align: bottom;
        }
      }

      // Additional rules to deal with very wide / panorama images causing issues
      & {
        max-width: calc(50% - 4px);
        max-height: 230px;
      }
      > a > video.wise-video-preview {
        height: 100%;
        object-fit: contain;
      }

      > .wise-internal-image-search-button {
        display: none;
        position: absolute;
        top: 4px;
        right: 40px;
        z-index: 1;
        color: white;
        width: 23px;
        margin-right: -4px;
      }
      &:hover > .wise-internal-image-search-button, &.wise-image-dropdown-open > .wise-internal-image-search-button {
        display: block;
      }

      > .wise-image-more-button {
        display: none;
        position: absolute;
        top: 5px;
        right: 3px;
        z-index: 1;
        padding: 2px;
        // background-color: rgba(255,255,255,0.3);
        width: 31px;
      }
      &:hover > .wise-image-more-button, &.wise-image-dropdown-open > .wise-image-more-button {
        display: block;
      }

      > .wise-image-hover-display {
        visibility: hidden;
        position: absolute;
        pointer-events: none;
        bottom: 0;
        width: 100%;
        padding: 8px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
      }
      
      &:hover > .wise-image-hover-display, &.wise-image-dropdown-open > .wise-image-hover-display {
        display: block;
        visibility: visible;
        background-color: rgba(0,0,0,0.35);
        color: white;
      }
    }

    > .wise-video-wrapper {
      width: 100%;
      padding: 5px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      position: relative;
      cursor: pointer;

      > .wise-video-result-background {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        top: 0;
        left: 0;

        &:active {
          background: rgba(0,0,0,0.1);
        }
      }

      > .wise-video-thumbnail {
        flex-shrink: 0;
        height: 216px;
        width: 384px;
        object-fit: contain;
        background-color: black;
        border-radius: 10px;
      }

      > .wise-video-text-wrapper {
        flex: 1;
        width: 1px; // temporary hack TODO implement better fix later
        margin-left: 20px;
        
        > h1 {
          font-weight: normal;
          font-size: 1.3em;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        > h1, > p {
          margin-top: 0;
          margin-bottom: 5px;
        }
      }
    }
  }
}
